---
import Layout from "../../layouts/Layout.astro";

const title = "Series details";
---

<Layout title={title}>
  <table>
    <thead>
      <tr>
        <th>Publisher</th>
        <th>Name</th>
        <th>Year</th>
        <th>Issues</th>
      </tr>
    </thead>
  </table></Layout
>
