---
import Layout from "../layouts/Layout.astro";
import IssueSlider from "../components/IssueSlider.astro";
import { thisWeekBookendsDates } from "../util/date";
import { kvGetWeeklyComics } from "./api/kv";

const kv = Astro.locals.runtime.env.COMICS;

const { startOfWeek, endOfWeek } = thisWeekBookendsDates();

let weeklyIssues;

try {
  weeklyIssues = await kvGetWeeklyComics(startOfWeek, endOfWeek, kv);
} catch (error) {
  console.error(error);
}
---

<Layout title="New this week">
  {
    weeklyIssues ? (
      <>
        <h1 class="text-2xl">New this week</h1>
        <p class="text-sm mb-4">
          There are {weeklyIssues.totalResults} new comics this week.
        </p>
        <IssueSlider issues={weeklyIssues.issues} />
      </>
    ) : (
      <p class="text-sm mb-4">
        There was an error fetching the latest comics. Please try again later.
      </p>
    )
  }
</Layout>

<style></style>
