---
import Layout from "../layouts/Layout.astro";
import IssueSlider from "../components/IssueSlider.astro";
import { thisWeekBookendsDates } from "../util/date";

import type { SingleIssuePreview } from "../components/IssueSlider.astro";
import { getWeeklyComics } from "../util/comicvine";

const { startOfWeek, endOfWeek } = thisWeekBookendsDates();

let weeklyIssues;
let issues: SingleIssuePreview[] = [];

try {
  weeklyIssues = await getWeeklyComics(startOfWeek, endOfWeek);
  if (weeklyIssues) {
    issues = weeklyIssues.issues.map((issue) => {
      const shortIssueDetails = {
        cover: issue.image.medium_url,
        name: issue.name,
        id: issue.id,
      };
      return shortIssueDetails;
    });
  }
} catch (error) {
  console.error(error);
}
---

<Layout title="New this week">
  {
    weeklyIssues ? (
      <>
        <h2 class="text-2xl">New this week</h2>
        <p class="text-sm mb-4">
          There are {weeklyIssues.totalResults} new comics this week.
        </p>
        <IssueSlider issues={issues} />
      </>
    ) : null
  }
</Layout>
