---
import Icon from "@components/Icon/Icon.astro";

type Crumb = {
  title: string;
  url?: string;
};

const { crumbs } = Astro.props as { crumbs: Crumb[] };
---

<nav class="mb-4" aria-label="Breadcrumb">
  <ol class="flex items-center overflow-scroll">
    <li>
      <a href="/" class="text-gray-400 hover:text-gray-500">
        <Icon name="home" class="size-5 shrink-0" color="currentColor" />
        <span class="sr-only">Home</span>
      </a>
    </li>
    {
      crumbs.map((crumb) => (
        <li class="flex items-center text-nowrap">
          <Icon name="chevron-right" class="size-5 shrink-0 text-gray-400" color="currentColor" />
          {crumb.url ? (
            <a href={crumb.url}>{crumb.title}</a>
          ) : (
            <span>{crumb.title}</span>
          )}
        </li>
      ))
    }
  </ol>
</nav>
