---
import type { ComicvineSingleIssueResponse } from "../pages/api/comicvine.types";

type SingleIssue = {
  id: number;
  name: string;
  image: {
    medium_url: string;
  };
};

interface Props {
  issues: Partial<ComicvineSingleIssueResponse>[];
}

const { issues } = Astro.props;
---

<ul class="flex py-0 px-4 pl-0 overflow-x-scroll hide-scrollbar">
  {
    issues.map((issue) => (
      <li class="mr-4 flex flex-col-reverse text-center">
        <a href={`/comic/${issue.id}`}>
          <img
            class="rounded-md max-w-40"
            src={issue?.image?.medium_url}
            alt={issue.name}
            loading="lazy"
            height="246"
            width="160"
          />
        </a>
      </li>
    ))
  }
</ul>
