---
const { id, numberOfPages, issuesPerPage = 100, currentPage } = Astro.props;
let pagesArray: (string | number)[] = [];
console.log({ id, numberOfPages, issuesPerPage, currentPage });
if (numberOfPages > 8) {
  if (currentPage < 5) {
    pagesArray = [1, 2, 3, 4, 5, "...", numberOfPages];
  } else if (currentPage > numberOfPages - 4) {
    pagesArray = [
      1,
      "...",
      numberOfPages - 4,
      numberOfPages - 3,
      numberOfPages - 2,
      numberOfPages - 1,
      numberOfPages,
    ];
  } else {
    pagesArray = [
      1,
      "...",
      currentPage - 1,
      currentPage,
      currentPage + 1,
      "...",
      numberOfPages,
    ];
  }
} else {
  pagesArray = Array.from({ length: numberOfPages }, (_, i) => i + 1);
}
---

<nav class="flex justify-center mt-8">
  <ul class="flex gap-4">
    {
      pagesArray.map((page) => (
        <li>
          {page === "..." ? (
            <span>{page}</span>
          ) : (
            <a href={`/volume/${id}/${page}`}>{page}</a>
          )}
        </li>
      ))
    }
  </ul>
</nav>
